
<!DOCTYPE html>  
<html>  


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<head>
    <title>DB-Dashboard Validation</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=/" />
</head>
 
 <body >   
     <h3 class="text-center text-info" id="of" >{{ val }}</h3>
     <!--class="row justify-content-center align-items-center"--> 
<div class="container">
<div class="row justify-content-center align-items-center">
<div class="">
    <div id="login-box"  class="a">
    
    <div class="g">        
        {{ msg }} {{ email }} <br >Redirecting to <a href="/">login page</a> in 5 sec...
    </div>
</div>
</div>
</div>



 </form>  
 </body>  
 </html> 

 <style>
.g{
    padding-top: 40px;
    text-align: center;
}
body h3{
    padding-top: 80px;
}

 </style>
