
 
<!DOCTYPE html>  
 <html>  
 <head>  
     <title>index</title>  
 </head>  
 <body>   
     <h3>Registeration</h3>
 <form action = "/verify" method = "POST">  

First Name: <input type="text" name="fname" autofocus required> <br>
Last Name: <input type="text" name="lname" placeholder="*Optional"><br>

User Name: <input type="text" name="uname" placeholder="Ex : Don_diablo"><br>

<input type="radio" id="user" name="member" value="user" checked>
<label for="user">User</label>
<input type="radio" id="guest" name="member" value="guest">
<label for="guest">Guest</label>
<input type="radio" id="admin" name="member" value="admin">
<label for="admin">Admin (Request)</label> <br>

 Email address: <input type="email" name="email" placeholder="Ex : YourEmail@gmail.com" required>  <br>
 <input type = "submit" value="Submit">  
 </form>  
 </body>  
 </html> 