<!DOCTYPE html>

<html>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

   <body>
       <div class="base" >
      <form class="row justify-content-center align-items-center" action = "/load" method = "post" >
         <h2 id="hea" class="text-center text-info">
             <div class="he">Database View</div>
         </p>
         <button name="select" value="1" type="submit" class="btn btn-info btn-md">User Base</button>
         <button name="select" value="2" type="submit" class="btn btn-info btn-md">Chat Base</button>
         <button name="select" value="3" type="submit" class="btn btn-info btn-md">Link Base</button>
         <button name="select" value="4" type="submit" class="btn btn-info btn-md">Settings Base</button>
         <button name="select" value="5" type="submit" class="btn btn-info btn-md">Welcome Base</button>
        </form>
    </div>
   </body>
</html>

<style>

.base button {
    display:block;
    min-width: 200px;
    margin: 5px;
}

.he {
   margin-bottom: 40px;
}

</style>